@import 'variables';
.container{
    width: @full-width;

    .single-article{
        width: @middle-width;
        margin: 0 auto;
        .single-article-thumbnail{
            width: @full-width;
            img{
                width: @full-width;
                height: @full-width;
            }
        }
        .single-article-info{
            padding: 5px;
            background-color: #fff;
            p{
                color: @text-color;
                font-size: @text-size;
            }
        }
    }
}